*{
    padding: 0;margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #011d3a;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    height: 300px;
    width: 1000px;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
#heading1,#heading2{
    font-size: 80px;
    color: white;
}
#heading2{
    display: none;
}

.button{
    height: 300px;
    width: 800px;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn{
    height: 50px;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    background-color:rgb(253, 253, 4);
    color: black;
}
#btn1:hover{
    color:rgb(128, 6, 250);
    transform: scale(.95);
    box-shadow: 5px 0px 10px white;
    transition: all .2s linear;
}
#btn2:hover{
    color:rgb(250, 6, 6);
    transform: scale(.95);
    box-shadow: 5px 0px 10px white;
    transition: all .2s linear;
}

@media (max-width:480px) {
    
    .box{
        height: 300px;
        width: 50px;
        /* background-color: lightgreen; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }
    #heading1,#heading2{
        font-size: 32px;
        color: white;
    }
    .button{
        height: 300px;
        width: 800px;
        /* background-color: lightcoral; */
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 20px;
    
    }
    .btn{
        height: 50px;
        width: 200px;
        font-weight: bold;
        font-size: 20px;
        background-color:rgb(253, 253, 4);
        color: black;
    }
    
    
}




